<div class="card">
  <div class="card-header card-header-success">
    <h4 class="card-title ">Order list</h4>
    <p class="card-category"></p>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead class=" text-primary">
          <tr>
            <th width="5%">ID</th>
            <th width="10%">Code</th>
            <th width="20%">Shipper</th>
            <th width="20%">Receiver</th>
            <th width="10%">Status</th>
            <th width="10%">Ordered_at</th>
            <th width="10%">Done_at</th>
            <th width="20%">Total</th>
            <th width="20%">Shipping fee</th>
            <th width="10%">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
          <tr>
            <td><%= order.id %></td>
            <td><%= order.code %></td>
            <td>
              <%= order.shipper_phone %>
              <br>
              <%= order.shipper_name%>
            </td>
            <td>
              <%= order.receiver_phone %>
              <br>
              <%= order.receiver_name %>
            </td>
            <td><%= order.ordered_at %></td>
            <td><%= order.done_at %></td>
            <td><%= order.total %></td>
            <td><%= order.shipping_fee %></td>
            <td>
              <%= link_to raw('<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'), edit_product_path(product.id)%>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%== pagy_bootstrap_nav(@pagy) %>